<form class="{{cssClass}}" autocomplete="off">
	<div class="header border">
		<div class="avatar">
			<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
		</div>
		<div class="header-stats">
			<div class="name" style="grid-column: 1/-1">
				<label>{{localize "GEAR.NAME"}}</label>
				<input name="name" type="text" value="{{name}}" />
			</div>
			<div class="flex row gap">
				<div class="shelf-life">
					<label>{{localize "RAW_MATERIAL.SHELF_LIFE"}}</label>
					<input name="system.shelfLife" type="text" value="{{system.shelfLife}}" />
				</div>
				<div class="cost">
					<label>{{localize "GEAR.COST"}}</label>
					<input name="system.cost" type="text" value="{{system.cost}}" />
				</div>
			</div>
		</div>
	</div>
	<div class="weight">
        <label>{{localize "GEAR.WEIGHT"}}</label>
        <select name="system.weight">
            {{#select system.weight}}
            <option value="tiny">{{localize "WEIGHT.TINY"}}</option>
            <option value="light">{{localize "WEIGHT.LIGHT"}}</option>
            <option value="regular">{{localize "WEIGHT.REGULAR"}}</option>
            <option value="heavy">{{localize "WEIGHT.HEAVY"}}</option>
            {{/select}}
        </select>
    </div>
	<div class="quantity">
		<label>{{localize "ITEM.QUANTITY"}}</label>
		<select name="system.quantity" data-dtype="Number">
			{{#select system.quantity}}
			<option value="0">—</option>
			<option value="1">D6</option>
			<option value="2">D8</option>
			<option value="3">D10</option>
			<option value="4">D12</option>
			{{/select}}
		</select>
	</div>
	<div class="raw-materials">
		<label>{{localize "BUILDING.RAW_MATERIALS"}}</label>
		<input name="system.rawMaterials" type="text" value="{{system.rawMaterials}}" />
	</div>
	<div class="talent">
		<label>{{localize "GEAR.TALENT"}}</label>
		<input name="system.talent" type="text" value="{{system.talent}}" />
	</div>
	<div class="tools">
		<label>{{localize "GEAR.TOOLS"}}</label>
		{{editor system.tools target="system.tools" owner=owner button=true editable=true}}
	</div>
</form>